.character-viewer-container .character-viewer-top-pane {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
    margin-bottom: 1rem;
}
.character-viewer-top-pane input {
    width: 100%;
}
